
  /* tasks */
  .tasks{
    width: 300px;
    height: 405px;
    position: absolute;
    top: 20%;
    left: 0px; 
    right: 0px;
    margin: 0px auto;
  }
  input[type=checkbox] {
    display:none;
   
  }
  label{
    background:#e2e2e2;
    height: 45px;
    width: 100%;
    display: block;
    border: 1px solid green;
    color:green;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0px;
    text-indent: 20px;
    cursor: pointer;
    transition: all 0.7s ease;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 12px;
    text-align: justify;
  }
  label h2 span{
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    color: #fff;
  }
  label:before{
    content:"";
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 100%;
    right: 20px;
    top: 30%;
    transition: border 0.7s ease
  }
  #label-1:checked ~ label[for=label-1],
  #label-2:checked ~ label[for=label-2],
  #label-3:checked ~ label[for=label-3],
  #label-4:checked ~ label[for=label-4],
  #label-6:checked ~ label[for=label-6],
  #label-5:checked ~ label[for=label-5],
  #label-7:checked ~ label[for=label-7],
  #label-8:checked ~ label[for=label-8],
  #label-9:checked ~ label[for=label-9],
  #label-10:checked ~ label[for=label-10]
  
  {
    background: #456d33;
    border-bottom: 1px solid #34495E;
    color: #ffffff;
  }
  #label-11:checked ~ label[for=label-11],
  #label-12:checked ~ label[for=label-12],
  #label-13:checked ~ label[for=label-13],
  #label-14:checked ~ label[for=label-14],
  #label-15:checked ~ label[for=label-15]
  {
    background: #ff8800;
    border-bottom: 1px solid #34495E;
    color: #ffffff;
  }
  #label-1:checked ~ label[for=label-1] h2 span,
  #label-2:checked ~ label[for=label-2] h2 span,
  #label-3:checked ~ label[for=label-3] h2 span,
  #label-4:checked ~ label[for=label-4] h2 span,
  #label-6:checked ~ label[for=label-6] h2 span,
  #label-5:checked ~ label[for=label-5] h2 span,
  #label-7:checked ~ label[for=label-7] h2 span,
  #label-8:checked ~ label[for=label-8] h2 span,
  #label-9:checked ~ label[for=label-9] h2 span,
  #label-10:checked ~ label[for=label-10] h2 span,
  #label-11:checked ~ label[for=label-11] h2 span,
  #label-12:checked ~ label[for=label-12] h2 span,
  #label-13:checked ~ label[for=label-13] h2 span,
  #label-14:checked ~ label[for=label-14] h2 span,
  #label-15:checked ~ label[for=label-15] h2 span
{
    color: #ffffff;
  }
  #label-11:checked ~ label[for=label-11] h2 span,
  #label-12:checked ~ label[for=label-12] h2 span,
  #label-13:checked ~ label[for=label-13] h2 span,
  #label-14:checked ~ label[for=label-14] h2 span,
  #label-15:checked ~ label[for=label-15] h2 span
{
    color: #ffffff;
  }
  #label-1:checked ~ label[for=label-1]:before,
  #label-2:checked ~ label[for=label-2]:before,
  #label-3:checked ~ label[for=label-3]:before,
  #label-4:checked ~ label[for=label-4]:before,
  #label-6:checked ~ label[for=label-6]:before,
  #label-5:checked ~ label[for=label-5]:before,
  #label-7:checked ~ label[for=label-7]:before,
  #label-8:checked ~ label[for=label-8]:before,
  #label-9:checked ~ label[for=label-9]:before,
  #label-10:checked ~ label[for=label-10]:before
 {
    background: url("téléchargement.png") no-repeat center center;
  }
  #label-11:checked ~ label[for=label-11]:before,
  #label-12:checked ~ label[for=label-12]:before,
  #label-13:checked ~ label[for=label-13]:before,
  #label-14:checked ~ label[for=label-14]:before,
  #label-15:checked ~ label[for=label-15]:before

 {
    background: url("téléchargement (1).png") no-repeat center center ;
  }
 
  label[for=label-11] ,
  label[for=label-12] ,
  label[for=label-13] ,
  label[for=label-14] ,
  label[for=label-15] 
  {
color:#ff8800;
border-color:#ff8800;
  }